<head>
    <title>Patient Registration</title>
</head>
<body>
<h2>Patient Registration</h2>
<form action="register" method="post">
    <label for="Name">Name:</label>
    <input type="text" id="Name" name="name" required><br><br>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required><br><br>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br><br>

    <label for="degree">Degree:</label>
    <input type="text" id="degree" name="degree" required><br><br>

    <label for="specialty">Speciality:</label>
    <input type="text" id="specialty" name="specialty" required><br><br>

    <label for="address">Address:</label>
    <input type="text" id="address" name="address" required><br><br>

    <label for="mobileNumber">Mobile Number:</label>
    <input type="text" id="mobileNumber" name="phoneNumber" required><br><br>

    <label for="licenseNumber">License Number:</label>
    <input type="text" id="licenseNumber" name="licenseNumber" required><br><br>

    <button type="submit">Submit</button>
</form>
<script>

</script>

</body>
</html>
